@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
.Aboutme-text-lines {
  font-family: Poppins;
}
.Aboutme-container-and-list-table {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 70px;
  font-size: 1em;
}
li {
  padding: 5px;
  margin: 8px;
  color: white;
}
