* {
  background-color: black;
  overflow: hidden;
  margin: 0px;

  background-image: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 0%
    ),
    radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0.1) 20%,
      transparent 20%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(255, 255, 255, 0.1) 20%,
      transparent 20%
    );
  background-size: 8px 1px;
  background-clip: text;
  -webkit-background-clip: text;
}
